body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: rgba(160, 240, 230, 0.6);
    color: #000000;
}

/* Main heading (h1) */
h1 {
    color: white;
    font-size: 2.5em; /* 2.5 times standard font size */
    text-align: center;
}

/* Secondary heading (h2) */
h2 {
    color: rgb(239, 234, 234); /* soft light color */
    font-size: 1.875em;
    text-align: center;
}

/* Paragraph styles */
p {
    color: white;
    font-size: 0.75em; /* 3/4 of standard size */
    text-align: center;
}

/* Font family variations */
p.serif {
    font-family: "Times New Roman", Times, serif;
}

p.sansserif {
    font-family: Helvetica, Arial, sans-serif;
}

/* Font weight options */
p.thick {
    font-weight: 900;
}

p.thin {
    font-weight: 100;
}

/* Font variant styles */
p.normal {
    font-variant: normal;
}

p.small {
    font-variant: small-caps;
}

/* Color examples */
p.greenExample {
    color: green;
}

p.redHexExample {
    color: #ff000f;
}

p.fusciaHexExample {
    color: #ff00ff;
}

/* Text decoration styles */
p.overline {
    text-decoration: overline;
}

p.underline {
    text-decoration: underline;
}

p.line-through {
    text-decoration: line-through;
}

ul {
    display: flex;
    flex-direction: column; /* guarantees a column */
}

.centered-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered-list li {
  position: relative;
  padding-left: 1.2em;
}

.centered-list {
  list-style: none; /* remove default bullets */
  padding: 0;
}


